:root{
    --color-primary: #f392c7;
    --color-primary-dark: #f4079d;

    --color-secundary: #9952b4;
    --color-secundary-dark: #4c0353;

    
    --color-gray: #ffffff;
    --color-gray-dark: #0a0909;
    

}
